## Write a Pandas program to implement following operation
* ### to convert a NumPy array to a Pandas series

In [1]:
import numpy as np
import pandas as pd

In [2]:
a=np.array([24,12,20,10])
print("Array :",a)

x=pd.Series(a)
print(" Series :\n", x)

Array : [24 12 20 10]
 Series :
 0    24
1    12
2    20
3    10
dtype: int64

* ### to convert the first column of a DataFrame as a Series

In [3]:
dict1 = {
    "name" : ['abc', 'pqr', 'xyz'],
    "marks" : [90, 95, 80],
    "city" : ['porbandar', 'porbandar', 'junagadh']
}

In [4]:
df = pd.DataFrame(dict1)

In [5]:
df

  name  marks       city
0  abc     90  porbandar
1  pqr     95  porbandar
2  xyz     80   junagadh

In [6]:
s = pd.Series(df['name'])

In [7]:
s

0    abc
1    pqr
2    xyz
Name: name, dtype: object

* ## to create the mean and standard deviation of the data of a given Series

In [8]:
x

0    24
1    12
2    20
3    10
dtype: int64

In [9]:
print("dataframe : ", x)
print("Mean : ", x.mean())
print("Standard Deviation : ", x.std())

dataframe :  0    24
1    12
2    20
3    10
dtype: int64
Mean :  16.5
Standard Deviation :  6.60807586719967

* ## to sort a given Series

In [10]:
print("Series before sorting : \n", x)
print("Series after sorting : \n", x.sort_values())

Series before sorting :
 0    24
1    12
2    20
3    10
dtype: int64
Series after sorting :
 3    10
1    12
2    20
0    24
dtype: int64